@using JahanJooy.Common.Util.Web.Extensions
@model JahanJooy.RealEstate.Web.Models.AgencySelector.AgencySelectorConfiguration

<div class="select2-rtl" style="width: 400px;">
    <input id="@Model.Name" name="@Model.Name" type="hidden" style="width: 100%;" /><br />
</div>

@this.ScriptBlock(@<script type="text/javascript">
    $("#@Model.Name").select2({
        minimumInputLength: 1,
        maximumSelectionSize: @Model.MaxNumberOfSelections,
        multiple: @(Model.MaxNumberOfSelections > 1 ? "true" : "false"),
        placeholder: 'آژانس املاک را جستجو کنید...',
        ajax: {
            url: '@Url.Action("Search", "AgencySelector")',
            dataType: 'json',
            quietMillis: 0,
            data: function(term, page, context) {
                return {
                    query: term,
                    page: page,
                    pageLength: 10
                };
            },
            results: function(data, page) {
                return {
                    results: data.Items,
                    more: data.More
                };
            }
        },

        formatResult: function(object, container, query, escapeMarkup) {
        	return "<div style='padding: 5px;'><span>آژانس: " + object.Name + "</span>" + 
				(object.ManagerName ? "<span class='fl'>مدیر: " + object.ManagerName + "</span>" : "") + 
				"<br/>" + (object.VicinityText ? "<span class='smaller' >" + object.VicinityText + "</span>" : "") + 
				(object.Code ? "<span class='fl smaller' >کد " + object.Code  + "</span>" : "") + 
				"</div>";
        },
        formatSelection: function (object, container, escapeMarkup) {
            return object.Name;
        },
        id: function(input) {
            return input.ID;
        }
    })
    </script>)