@model JahanJooy.RealEstate.Web.Models.Account.AccountChangePasswordModel

@{
    ViewBag.Title = "تغییر رمز عبور کاربر";
}

<div class="well">تغییر رمز عبور</div>
<p>
    برای تغییر رمز عبور خود از فرم زیر استفاده کنید. برای امنیت بیشتر، برای تغییر
    رمز عبور خود باید ابتدا رمز عبور فعلی را ارائه کنید.
</p>
<p>
    کلمه عبور باید حداقل از 4 حرف یا عدد تشکیل شده باشد، و از نام کاربری یا نام خود
    در آن استفاده نکرده باشید، چرا که در این حالت حدس زدن کلمه عبور شما برای سایر
    افراد ساده تر خواهد بود.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "تغییر کلمه عبور با خطا مواجه شد. لطفاً موارد زیر را رفع کنید و مجدداً تلاش فرمایید:", new {style = "color:red;"})
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-4 col-md-3">@Html.LabelFor(m => m.OldPassword):</div>
            <div class="col-xs-4 col-md-4">@Html.PasswordFor(m => m.OldPassword, new { autofocus = "autofocus" })</div>
            <div class="col-xs-4 col-md-5">@Html.ValidationMessageFor(m => m.OldPassword)</div>
        </div>
        <hr/>
        <div class="form-group">
            <div class="col-xs-4 col-md-3">@Html.LabelFor(m => m.NewPassword):</div>
            <div class="col-xs-4 col-md-4">@Html.PasswordFor(m => m.NewPassword)</div>
            <div class="col-xs-4 col-md-5">@Html.ValidationMessageFor(m => m.NewPassword)</div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 col-md-3">@Html.LabelFor(m => m.ConfirmPassword):</div>
            <div class="col-xs-4 col-md-4">@Html.PasswordFor(m => m.ConfirmPassword)</div>
            <div class="col-xs-4 col-md-5">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
        </div>
    </div>
    <div class="pull-left">
        <button name="submit" value="submit" class="btn btn-success" type="submit">تغییر کلمه عبور</button>
        <a href="@Url.Action("View", "MyProfile")" class="btn btn-default">بازگشت</a>
    </div>
}


