@using JahanJooy.Common.Util.Web.Captcha
@model JahanJooy.RealEstate.Web.Models.Account.AccountForgotPasswordModel

@{
	ViewBag.Title = "بازیابی کلمه عبور";
	ViewBag.MetaDescription = "امکانات بازیابی کلمه عبور برای کاربران سایت خونه ت دات کام، در مواردی که کلمه عبور را فراموش کرده اند";
}

<div class="page-header">
	<h1>بازیابی کلمه عبور</h1>
</div>

<img src="~/Content/images/forgot.png" style="float: left;"/>
<p>
    کلمه عبور شما در این سایت به صورت رمزشده نگهداری می شود تا از دسترسی احتمالی نفوذگر ها در امان باشد. لذا امکان بازیابی و ارسال
    کلمه عبور فعلی برای شما وجود ندارد.
    در عوض، می توانید با استفاده از تلفن همراه / آدرس ایمیل خود که در زمان فعال سازی حساب خود معرفی کرده اید، رمز موقتی برای ورود
    به حساب خود دریافت کنید و با استفاده از آن، کلمه عبور خود را تغییر دهید.
</p>

@using (Html.BeginForm())
{
	<p>
		قبل از هر کاری، نشان دهید که یک ربات نیستید! عدد شش رقمی نمایش داده شده در تصویر زیر را در فیلد کنار آن وارد کنید.
		سپس نام کاربری خود را وارد کرده، و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
	</p>
	
	@Html.Action("ViewImage", "Captcha")
	@Html.CaptchaErrorMessage()

	<br/>

	<div class="panel panel-primary">
		<div class="panel-heading"><h2 class="panel-title">نام کاربری</h2></div>
		<div class="panel-body">
			<p>
				نام کاربری خود را در این قسمت وارد کنید. 
				<br/>
				<span class="text-danger">
					در صورتی که نام کاربری را هم فراموش کرده اید، به صفحه
					@Html.ActionLink("بازیابی نام کاربری", "ForgotLoginName", null, new { autofocus = "autofocus" })
					مراجعه کنید.
				</span>
			</p>

			<table style="border-spacing: 10px;">
				<tr>
					<td style="width: 140px;"><span class="icon-required"></span> @Html.LabelFor(m => m.LoginName):</td>
					<td style="width: 200px;">@Html.TextBoxFor(m => m.LoginName)</td>
				</tr>
				<tr>
					<td colspan="2">@Html.ValidationMessageFor(m => m.LoginName)</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading"><h2 class="panel-title">استفاده از پیام کوتاه</h2></div>
		<div class="panel-body">
			<p>
				در صورتی که هنگام فعال سازی حساب خود، شماره تلفن همراه خود را وارد کرده و رمز فعال سازی را از طریق پیام کوتاه دریافت کرده اید، این شماره
				را مججداً در این قسمت وارد کنید و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
			</p>

			<table style="border-spacing: 10px;">
				<tr>
					<td style="width: 140px;">@Html.LabelFor(m => m.VerificationPhoneNumber):</td>
					<td style="width: 200px;">@Html.TextBoxFor(m => m.VerificationPhoneNumber, new { style = "direction: ltr;" })</td>
					<td style="width: 200px; text-align: left;"><input id="btnStartPasswordRecoveryBySms" name="btnStartPasswordRecoveryBySms" class="btn btn-primary" style="width: 160px;" type="submit" value="تنظیم مجدد کلمه عبور" /></td>
				</tr>
				<tr>
					<td colspan="3">@Html.ValidationMessageFor(m => m.VerificationPhoneNumber)</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading"><h2 class="panel-title">استفاده از پست الکترونیکی</h2></div>
		<div class="panel-body">
			<p>
				در صورتی که هنگام فعال سازی حساب خود، آدرس ایمیل خود را وارد کرده و رمز فعال سازی را در یک نامه الکترونیکی دریافت کرده اید، آدرس ایمیل خود
				را مجدداً در این قسمت وارد کنید و گزینه «تنظیم مجدد کلمه عبور» را انتخاب کنید.
			</p>

			<table style="border-spacing: 10px;">
				<tr>
					<td style="width: 140px;">@Html.LabelFor(m => m.VerificationEmailAddress):</td>
					<td style="width: 200px;">@Html.TextBoxFor(m => m.VerificationEmailAddress, new { style = "direction: ltr;" })</td>
					<td style="width: 200px; text-align: left;"><input id="btnStartPasswordRecoveryByEmail" name="btnStartPasswordRecoveryByEmail" class="btn btn-primary" style="width: 160px;" type="submit" value="تنظیم مجدد کلمه عبور" /></td>
				</tr>
				<tr>
					<td colspan="3">@Html.ValidationMessageFor(m => m.VerificationEmailAddress)</td>
				</tr>
			</table>
		</div>
	</div>

}

