@using System.Globalization
@using JahanJooy.Common.Util.Web.Extensions
@using JahanJooy.Common.Util.Web.Routing
@using JahanJooy.RealEstate.Domain.Billing
@using JahanJooy.RealEstate.Util.Resources
@using JahanJooy.RealEstate.Web.Areas
@using JahanJooy.RealEstate.Web.Areas.Billing.Helpers
@using JahanJooy.RealEstate.Web.Helpers
@using JahanJooy.RealEstate.Web.Models.Shared
@model JahanJooy.RealEstate.Web.Areas.Billing.Models.UserBalanceAdmin.UserBalanceAdminListAdministrativeChangesModel

<div class="fl" style="border: 3px solid gray; margin-left: 20px; padding: 10px;">
    <a href="@Url.Action("NewAdministrativeChange", "UserBalanceAdmin")">@IconsHelper.Add16(Url) تغییر جدید</a>
</div>

<div class="page-header">
    <h1>
        <a href="@Url.Action("Index", "AdminHome", new {area = AreaNames.Admin})">مدیریت سایت</a>:
        <a href="@Url.Action("Index", "BillingAdminHome", AreaRouteValue.Billing)">سامانه مالی</a>:
        تغییرات مدیریتی مانده حساب
    </h1>
</div>

@Html.Partial("_PaginationLinks", PaginationLinksModel.BuildFromPagedList(Model.Changes, p => Url.Action("ListAdministrativeChanges", Request.QueryString.ToRouteValues().Set("page", p.ToString(CultureInfo.InvariantCulture)))))


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>اپراتور</th>
                <th>توضیح</th>
                <th>زمان</th>
                <th>کاربر</th>
                <th>تغییر</th>
                <th>وضعیت</th>
                <th>کد تراکنش</th>
            </tr>
        </thead>
        @foreach (UserBalanceAdministrativeChange change in Model.Changes)
        {
            <tr class="@BillingSourceEntityHelper.StateBackgroundColor(change)">
                <td>
                    <span data-ajax-modal="@Url.Action("ViewAdministrativeChangeDetailsPopup", new {id = change.ID})">
                        <span>@IconsHelper.Xlink16(Url) @change.ID</span>
                    </span>
                </td>
                <td>@Html.Partial("ListAdministrativeChangesPartials/CellOperator", change)</td>
                <td>@Html.Partial("ListAdministrativeChangesPartials/CellDescription", change)</td>
                <td>@Html.Partial("ListAdministrativeChangesPartials/CellDateAndTime", change)</td>
                <td>@Html.Partial("_GridCellPartials/BillingSourceTargetUser", change)</td>
                <td>@Html.Partial("ListAdministrativeChangesPartials/CellDelta", change)</td>
                <td>@Html.Partial("ListAdministrativeChangesPartials/CellStateAndOperations", change)</td>
                <td>@Html.Partial("_GridCellPartials/BillingSourceTransactionIDs", change)</td>
            </tr>
        }
    </table>
</div>

@Html.Partial("_PaginationLinks", PaginationLinksModel.BuildFromPagedList(Model.Changes, p => Url.Action("ListAdministrativeChanges", Request.QueryString.ToRouteValues().Set("page", p.ToString(CultureInfo.InvariantCulture)))))

@section SideBar
{
    <p>فیلتر های پر استفاده:</p>
    <ul>
        <li><a href="@Url.Action("ListAdministrativeChanges")">همه موارد (بدون فیلتر)</a></li>
    </ul>

    <br /><hr />

    @using (Html.BeginForm("ListAdministrativeChanges", "UserBalanceAdmin", FormMethod.Get))
    {
        <div style="width: 200px;">
            @Html.LabelFor(m => m.CreatedByUserIDFilter):
            @Html.TextBoxFor(m => m.CreatedByUserIDFilter)
            <br />
            <br />

            @Html.CheckBoxWithoutHiddenField("ApplyReviewedByUserIDFilter", Model.ApplyReviewedByUserIDFilter)
            @Html.LabelFor(m => m.ApplyReviewedByUserIDFilter)
            <br />
            <br />

            @Html.LabelFor(m => m.ReviewedByUserIDFilter):
            @Html.TextBoxFor(m => m.ReviewedByUserIDFilter)
            <br />
            <br />

            @Html.LabelFor(m => m.TargetUserIDFilter):
            @Html.TextBoxFor(m => m.TargetUserIDFilter)
            <br />
            <br />

            @Html.LabelFor(m => m.BillingStateFilter):
            @Html.DropDownListFor(m => m.BillingStateFilter, Model.BillingStateFilter.EnumSelectList(), GeneralResources.NotSelected, new {@class = "form-control"})
            <br />
            <br />

            @Html.LabelFor(m => m.TextFilter):
            @Html.TextBoxFor(m => m.TextFilter)
            <br />
            <br />

            <button name="submit" value="btnRefresh" class="btn btn-primary btn-block" style="width: 150px;" type="submit">اعمال فیلتر</button>
        </div>
    }
}