@using JahanJooy.Common.Util.Web.Captcha
@using JahanJooy.RealEstate.Web.Helpers
@model JahanJooy.RealEstate.Web.Models.Property.PropertySharePropertyListingModel


<div id="shareProperty" class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title"></h4>
	</div>
	@using (Ajax.BeginForm("SharePropertyListingPostback", "Property", new {}, new AjaxOptions {InsertionMode = InsertionMode.Replace, UpdateTargetId = "shareProperty"}, new {id = "frmShareProperty"}))
	{
		<div class="modal-body">
			<table>
				<tr>
					<td style="width: 100px;">آدرس ایمیل:</td>
					<td style="width: 200px;">@Html.TextBoxFor(m => m.Email)</td>
					<td style="width: 20px;"></td>
					<td style="width: 250px;">@IconsHelper.RequiredTwo16(Url) @Html.ValidationMessageFor(m => m.Email)</td>
				</tr>
				<tr>
					<td style="width: 100px;">نام گیرنده:</td>
					<td style="width: 200px;">@Html.TextBoxFor(m => m.ReceiverName)</td>
					<td style="width: 20px;"></td>
					<td style="width: 250px;">@IconsHelper.RequiredTwo16(Url) @Html.ValidationMessageFor(m => m.ReceiverName)</td>
				</tr>
				<tr>
					<td style="width: 100px;">توضیحات:</td>
					<td style="width: 200px;">@Html.TextAreaFor(m => m.Description)</td>
					<td style="width: 20px;"></td>
					<td style="width: 250px;"></td>
				</tr>
				<tr>
					<td colspan="4">
						@Html.HiddenFor(m => m.PropertyListingID)
					</td>
				</tr>

			</table>

			@if (!User.IsVerified)
			{
				<p>لطفاً عدد شش رقمی نمایش داده شده در تصویر زیر را در فیلد کنار آن وارد کنید.</p>
				@Html.Action("ViewImage", "Captcha")
			}

			@Html.ScriptCaptchaToken()
			@Html.ScriptCaptchaScript()
			@Html.CaptchaErrorMessage()
			
		</div>
		<div class="modal-footer">
			<button name="btnOK" value="btnOK" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> ارسال</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">بی خیال</button>
		</div>
	}
</div>





    

  
