@using JahanJooy.Common.Util.Validation
@using JahanJooy.Common.Util.Web.Captcha
@using JahanJooy.Common.Util.Web.Extensions
@using JahanJooy.RealEstate.Util.Presentation
@using JahanJooy.RealEstate.Web.Controllers
@using JahanJooy.RealEstate.Web.Resources.Controllers.Account
@model JahanJooy.RealEstate.Web.Models.MyProfile.MyProfileContactMethodVerificationModel

<div id="completeRegistrationEmailRoot">
    <div>
        <p>
            قبل از اینکه بتونیم از آدرس ایمیل
            @HtmlPresentationHelper.LeftToRight(Model.VerificationInfo.ContactMethod.ContactMethodText)
            برای ارتباط با شما استفاده کنیم، باید مالکیت اون رو تایید کنید.
            <a class="sub" target="_blank" href="@Url.Action("Page", "Home", new {id = HomeController.ContentPage.WhyVerifyContactMethod})">(چرا؟)</a>
        </p>

        @if (Model.VerificationInfo.ValidationForVerificationStart.IsValid)
        {
            if (Model.VerificationInfo.HasOngoingVerification)
            {
                <p>
                    یک ایمیل فعال سازی توسط سیستم به آدرس
                    @HtmlPresentationHelper.LeftToRight(Model.VerificationInfo.ContactMethod.ContactMethodText)
                    فرستاده شده، که توی اون یک رمز فعال سازی وجود داره. لطفاٌ رمز رو داخل فرم زیر وارد کنید
                    و گزینه فعال سازی رو انتخاب کنید.
                </p>

                using (Ajax.BeginForm("CompleteRegistrationVerifyEmailAddress", "MyProfile", null, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "completeRegistrationEmailRoot" }, new { id = "frmEmailVerification" }))
                {
                    @Html.HiddenFor(m => m.ContactMethodID)

                    <table class="dataEntryTable">
                        <tr>
                            <td style="width: 140px;"><span class="icon-required"></span> @Html.LabelFor(m => m.VerificationSecret):</td>
                            <td style="width: 160px;">@Html.TextBoxFor(m => m.VerificationSecret, new { autofocus = "autofocus" })</td>
                            <td style="width: 100px;"><input id="btnOK" class="btn btn-success" type="submit" value="فعال سازی" /></td>
                        </tr>
                        <tr>
                            <td colspan="3">@Html.ValidationMessageFor(m => m.VerificationSecret)</td>
                        </tr>
                    </table>

                    <text>
                        @Html.ScriptCaptchaToken()
                        @(this.ScriptText(Html.ScriptCaptchaScript()))
                        @Html.CaptchaErrorMessage()
                    </text>
                }

                using (Ajax.BeginForm("CompleteRegistrationRestartEmailAddressVerification", new { id = Model.VerificationInfo.ContactMethod.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "completeRegistrationEmailRoot" }))
                {
                    <p>
                        در صورتی که رمز ارسالی یعد از مدتی به دست تون نرسید، می تونید رمز فعلی رو لغو کنید و فعال سازی رو از اول شروع کنید.
                        <input id="btnRestart" class="btn btn-default btn-sm" type="submit" value="درخواست رمز جدید" />
                    </p>
                    <p>
                        <strong>دقت کنید:</strong>
                        قبل از اینکه رمز جدید درخواست کنید، لطفاً حداقل 15 دقیقه برای دریافت پیغام فعال سازی منتظر بمونید.
                    </p>
                }
            }
            else
            {
                <p>
                    مهلت استفاده از رمز فعال سازی قبلی که براتون فرستاده شده تموم شده. برای اینکه بتونید آدرس ایمیل
                    @HtmlPresentationHelper.LeftToRight(Model.VerificationInfo.ContactMethod.ContactMethodText)
                    رو فعال کنید، باید رمز جدید بگیرید.
                </p>

                using (Ajax.BeginForm("CompleteRegistrationRestartEmailAddressVerification", new { id = Model.VerificationInfo.ContactMethod.ID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "completeRegistrationEmailRoot" }))
                {
                    <div>
                        <input id="btnRestart" class="btn btn-default btn-sm" style="width: 140px;" type="submit" value="درخواست رمز جدید" />
                    </div>
                }
            }

            @(this.ScriptBlock(@<script type="text/javascript">
                $.validator.unobtrusive.parse("#frmEmailVerification");
            </script>))
        }
        else
        {
            <div class="validation-summary-errors">
                <p>
                    اما متاسفانه اعتبار سنجی این آدرس ایمیل الان ممکن نیست، چون:
                </p>
                <ul>
                    @foreach (ValidationError err in Model.VerificationInfo.ValidationForVerificationStart.Errors)
                    {
                        <li>@AccountValidationErrors.ResourceManager.GetString(err.ErrorKey)</li>
                    }
                </ul>
            </div>
        }

    </div>
</div>