@using System.Globalization
@using Compositional.Composer.Web
@using JahanJooy.Common.Util.Localization
@using JahanJooy.Common.Util.Web.Routing
@using JahanJooy.RealEstate.Util.Presentation.Property
@using JahanJooy.RealEstate.Web.Areas
@using JahanJooy.RealEstate.Web.Models.Shared
@model JahanJooy.RealEstate.Web.Areas.Ad.Models.ClickAdmin.ClickAdminListClicksModel

<h2>
    @Html.ActionLink("مدیریت سایت", "Index", "AdminHome", new {area = AreaNames.Admin}, null)
    &gt;
    @Html.ActionLink("سامانه تبلیغات", "Index", "AdAdminHome")
    &gt;
    لیست کلیک ها

</h2>

@Html.Partial("_PaginationLinks", PaginationLinksModel.BuildFromPagedList(Model.Clicks, p => Url.Action("ListClicks", Request.QueryString.ToRouteValues().Set("page", p.ToString(CultureInfo.InvariantCulture)))))

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>زمان ایجاد</th>
            <th>SponsoredEntityID</th>
            <th>ImpressionID</th>
            <th>HttpSessionID</th>
            <th>BillingEntityID</th>
        </tr>
        </thead>
        @foreach (var click in Model.Clicks)
        {
            <tr>
                <td> @click.ID</td>
                <td>
                    @click.CreationTime.ToLocalizedDateString() @click.CreationTime.ToLocalizedTimeString()
                </td>
                <td>
                    @click.SponsoredEntityID
                </td>
                <td>
                    @click.ImpressionID
                </td>
                <td>
                    @click.HttpSessionID
                </td>
                <td>
                    @click.BillingEntityID
                </td>
            </tr>
        }
    </table>
</div>
@Html.Partial("_PaginationLinks", PaginationLinksModel.BuildFromPagedList(Model.Clicks, p => Url.Action("ListClicks", Request.QueryString.ToRouteValues().Set("page", p.ToString(CultureInfo.InvariantCulture)))))


@section SideBar
{
    <p>فیلتر های پر استفاده:</p>
    <ul>
        <li>
            <a href="@Url.Action("ListClicks")">همه موارد (بدون فیلتر)</a>
        </li>
    </ul>

    <br/><hr/>

    @using (Html.BeginForm("ListClicks", "ClickAdmin", FormMethod.Get))
    {
        <div style="width: 200px;">
            SponsoredEntityIDFilter:
            @Html.TextBoxFor(m => m.SponsoredEntityIDFilter)
            <br/>
            <br/>
            <button name="submit" value="btnRefresh" class="button" style="width: 150px;" type="submit">اعمال فیلتر</button>
        </div>
    }
}