@using System.Globalization
@using JahanJooy.Common.Util.Web.Routing
@using JahanJooy.RealEstate.Web.Areas
@model JahanJooy.RealEstate.Domain.Billing.UserWireTransferPayment

<div>
    کاربر:
    @Html.Partial("_GridCellPartials/BillingSourceTargetUser", Model)
</div>

<div>
    بررسی:
    @if (Model.ReviewedByUser != null)
    {
        <a href="@Url.Action("Details", "AdminUsers", new {id = Model.ReviewedByUserID, area = AreaNames.Admin})"><span class="glyphicon glyphicon-link"></span></a>
        <a  href="@Url.Action("ListWireTransfers", Request.QueryString.ToRouteValues().Set("ApplyReviewedByUserIDFilter", "true").Set("ReviewedByUserIDFilter", Model.ReviewedByUser.ID.ToString(CultureInfo.InvariantCulture)))">
            <span class="glyphicon glyphicon-filter"></span>
            @Model.ReviewedByUser.ID:
            @Model.ReviewedByUser.LoginName
        </a>
    }
    else
    {
        <a  href="@Url.Action("ListWireTransfers", Request.QueryString.ToRouteValues().Set("ApplyReviewedByUserIDFilter", "true").Set("ReviewedByUserIDFilter", string.Empty))">
            <span class="glyphicon glyphicon-filter"></span>
            انجام نشده
        </a>
    }

</div>