@using System
@using JahanJooy.RealEstate.Core.Impl.Templates.Email
@functions {
	private PasswordRecoveryByUnverifiedEmailNotificationModel _model;
	public override void SetModel(object model)
	{
		_model = (PasswordRecoveryByUnverifiedEmailNotificationModel)model;
	}

}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<table width="95%" style="width: 95%; direction: rtl; font-size: 20px;">
			<tr><td style="background-color: #dddddd;">
				    <table width="100%" style="width: 100%; font-size: 20px; font-weight: bold;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>استفاده از آدرس شما برای بازیابی کلمه عبور</td>
						    <td style="text-align: left;"><a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">خونه ت دات کام</a></td>
					    </tr>
				    </table>
			    </td></tr>
			<tr><td>
				    <table width="100%" style="width: 100%; font-size: 14px;" cellpadding="10" cellspacing="5">
					    <tr>
						    <td>
							    شما این ایمیل رو به این دلیل دریافت می کنید که شخصی آدرس ایمیل
								«<span style="direction: ltr;">@_model.TargetEmail</span>»
							    را در پروفایل کاربری خود در سایت «خونه ت دات کام» 
								- www.khoonat.com -
							    اضافه کرده و با استفاده از آن سعی دارد رمز عبور فراموش شده خود را بازیابی کند.
								نام کاربری این حساب کاربری 
							    «<span style="direction: ltr;">@_model.RequestedLoginName</span>»
							    می باشد.
							    <br/>
							    در صورتی که این درخواست از طرف شما نبوده است و آدرس ایمیل شما توسط فرد دیگری
							    در این سایت استفاده شده است، می توانید در صورت تمایل، موضوع را با تماس با مسئولین
								سایت مطرح کنید و پی گیری فرمایید.
						    </td>
						    <td style="direction: ltr;">
							    You are receiving this email because one of the visitors to the www.khoonat.com website has added the
							    email address "@(_model.TargetEmail)" to the profile of the user "@(_model.RequestedLoginName)"  and he / she
							    is using this address in the account password recovery.
							    <br/>
							    If this request is not made by you, and some one else is using your email address, you
								might want to contact website administrators to follow up on the issue.
						    </td>
					    </tr>
				    </table>
				    
			    </td></tr>
			<tr><td>
				    <br/>
				    <p>
					    کاربر گرامی، 
					    @_model.RequestedLoginName،
				    </p>
				    <p>
					    آدرس ایمیل
					    <span dir="ltr">@(_model.TargetEmail)</span>
					    روی حساب شما فعال سازی نشده است، لذا چهت جلوگیری از سوء استفاده امکان استفاده از آن برای
					    بازیابی کلمه عبور وجود ندارد، چرا که سیستم اطمینان ندارد که این آدرس مربوط به صاحب حساب باشد.
				    </p>
				    <p>
					    در صورتی که این حساب متعلق به شماست و کلمه عبور خود را فراموش کرده اید، لطفاً از آدرس ایمیلی که
					    روی حساب شما ثبت شده باشد و فعال سازی شده باشد برای بازیابی کلمه عبور استفاده کنید. همچنین می توانید
						با استفاده از شماره تلفن همراهی که روی حساب خود ثبت کرده و فعال سازی کرده اید کلمه عبور خود را بازیابی کنید.
				    </p>
				    <p>
					    از اینکه از خدمات این سایت استفاده می کنید سپاس گزاریم؛
					    <br/>
					    خونه ت دات کام
				    </p>
			    </td></tr>
			<tr><td style="font-size: 20px; text-align: center; background-color: #dddddd; padding: 10px">
				    <a href="http://www.khoonat.com/" target="_blank" style="color: darkblue; text-decoration: none; font-size: 30px; font-weight: bold;">www.khoonat.com</a>
			    </td></tr>
			<tr><td style="width: 100%; font-size: 14px;">
				    <br/><br/>   
				    این پیغام توسط سیستم تولید شده است و در صورتی که به آن پاسخ دهید به دست ما نخواهد رسید.
				    اگر در خصوص این پیغام یا هر موضوع دیگری تمایل دارید با مسئولین سایت در تماس باشید، لطفاً
				    از صفحه «تماس با ما» در سایت استفاده کنید.
			    </td></tr>
			<tr><td style="width: 100%; font-size: 14px; direction: ltr;">
				    This is a system-generated email, and in case you reply to this message it will not be delivered.
				    If you intend to get in touch with the site administrators regarding this message or any other matters,
					please use the contact page on the website.
			    </td></tr>
		</table>
	</body>
</html>
