@model JahanJooy.RealEstate.Web.Models.Account.AccountChangePasswordAdministrativelyModel

<div id="changePasswordAdministrativelyRoot">
    <div style="padding: 10px; width: 420px; height: 240px;">
    @using (Ajax.BeginForm("ChangePasswordAdministrativelyPostback", new { }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "changePasswordAdministrativelyRoot" }, new { id = "frmChangePasswordAdministratively" }))
    {   
        <div style="font-size: 10px;">@Html.ValidationSummary()</div>
        
        <table style=" width: 100%; padding: 10px">
            <tr>
                <td style="width: 160px;">@Html.LabelFor(m => m.NewPassword):  </td>
                <td style="width: 220px;">@Html.PasswordFor(m => m.NewPassword, new {autofocus = "autofocust"})</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmPassword):</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; margin: 40px;" >
                    @Html.HiddenFor(m => m.UserId)
                    <input id="btnOK" class="button" type="submit" value="تغيير کلمه عبور " style="width: 120px;"/>
                    <input id="btnCancel" class="button" type="button" value="بي خيال" style="width: 120px;" onclick="$('.qtip:visible').qtip('hide');"/>
                </td>
            </tr>
        </table>
    }

</div>
	<script type="text/javascript">
	    $.validator.unobtrusive.parse("#frmChangePasswordAdministratively");
	</script>
</div>